<!DOCTYPE html>
<html>
<head>
	<title>url</title>
	{% include "snippets/css.html" %}
	<style>
*{
    padding: 0px;
    margin: 0px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-top:10px;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#6cf;
   display: flex;
    align-items: center;
    justify-content: center;
}
</style>
</head>
<body>
   <div class="jumbotron" style="background-color: #0a57d3;margin-bottom:100px;">
    <h1 class="text-center">URL <i class="fa fa-cut"></i> Shortner</h1>
    </div>
{% block content%}
{% endblock content %}
{% include "snippets/js.html" %}
<footer class="container-fluid bg-4 text-center">
  <p>Connect <i class="fa fa-at"></i> <a href="https://github.com/sky2826"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/aakash-tiwari-8391b773/"><i class="fa fa-linkedin"></i></a>
  <a href="http://portfolioaakash.herokuapp.com/"><i class="fa fa-user"></i></a></p></p>
</footer>
</body>
</html>